@import url(https://fonts.googleapis.com/css?family=Oswald);

.main {
  font-family: "Oswald", sans-serif;
  margin: 7%;
  overflow: hidden;
  text-align: center;
  font-size: 18px;
  text-align: center;
}
.icon {
  font-style: normal;
  font-size: 200px;
}
